DurableFunctions.Intro/.vs/
Excercise1/DurableFunctions.Bindings/.vs/
Excercise2/DurableFunctions.History/.vs/
Excercise3/DurableFunctions.Instance/.vs/
Excercise4/DurableFunctions.Errors/.vs/
Excercise5/DurableFunctions.External/.vs/
Excercise5/DurableFunctions.Timers/.vs/
Excercise6/DurableFunctions.Eternals/.vs/
Excercise6/DurableFunctions.Singleton/.vs/
Excercise6/DurableFunctions.SubOrchestrations/.vs/
